@charset "UTF-8"
aside{
  width: 30%;
}
article{
  width: 85%;
}
.news{
  display: flex;
  justify-content: space-between;
}
.header{
  background-image: url(DiscordIconBannar.png);
   background-position: center;
   background-size: cover;
   padding-top: 20%;
}
.text{
  text-align: left;
  padding-left: 15%;
  font-size: 1.5vw;
}
.aside_Items{
  position: -webkit-sticky;  /* for Safari */
    position: sticky;
    top: 0px;  /* 画面上端オフセット */
}
aside{
  width: 15%;
  /*padding-top: 2%;*/
  background: linear-gradient(to right, #022571, #022561);
  background: -moz-linear-gradient(left, #022571, #022561);
  background: -webkit-linear-gradient(left, #022571, #022561);/*0072FF*/
}
article .block{
  margin-bottom: 0%;
  background: #dbedf0;
  background-color: #dbedf0;
}
h1{
  font-size: 3vw;
  text-align: center;
}
h2{
  font-size: 2.5vw;
  text-align: left;
  margin-left: 10%;
}
h3{
  font-size: 2vw;
  text-align: left;
  margin-left: 10%;
}
.block{
  border-bottom: 3px solid #0c4da2;
  padding-bottom: 2vw;
}
.bannar{
  width: 100%
}
.menu{
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
}
.menuItem{
  text-align: center;
}
.menuItem-last{
  padding-bottom: 100%;
}
.menu:hover{
  color: cyan;
  animation: flash_menu 3s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}
@keyframes flash_menu {
  0%, 100% {
    text-shadow: 0 0 1vw white, 0 0 2vw cyan, 0 0 4vw white;
    /* 明るく光るよう影を重ねる */
  }
  50% {
    text-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
      /* 淡く光るよう影を重ねる */
  }
}
.invite{
  font-size: 2vw;
  font-family: serif;
  text-decoration: none;
  background: #6A96E9;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  transition:  0.2s;
}
.invite:hover{
  transition:  0.2s;
  background: #0909D9;
  animation: flash 3s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}
@keyframes flash {
  0%, 100% {
    text-shadow: 0 0 1vw white, 0 0 2vw cyan, 0 0 4vw white;
    box-shadow: 0 0 1vw white, 0 0 2vw cyan, 0 0 4vw white;
    /* 明るく光るよう影を重ねる */
  }
  50% {
    text-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
      /* 淡く光るよう影を重ねる */
  }
}
.text_center{
  text-align: center;
}
.SNS_Button{
  font-size: 2vw;
  font-family: serif;
  text-decoration: none;
  background: #6A96E9;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  transition:  0.2s;
}
.SNS_Button:hover{
  transition:  0.2s;
  background: #0909D9;
  animation: flash 3s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}
.SNS_Button_Block{
  margin-bottom: 1vw;
  text-align: left;
  padding-left: 20%;
  font-size: 1.5vw;
}
/*ここからお問い合わせフォームの装飾*/
.text_form , .text_form_top{
  text-align: left;
  margin-left: 15%;
  width: auto;
  font-size: 2vw;
}
label{
   display: inline-block;
   border-left: solid 5px #5250e0;
   margin-top: 3vw;
   vertical-align:top;
   font-weight: bold;
 }
 input[type="text"],
 input[type="mail"],
input[type="username"]{
   border: none;
   Outline: none;
   font-size: 1.5vw;
   width:30vw;
   height:2vw;
 }
 #Contact_us{
   font-size: 1.5vw;
   width:30vw;
   height:10vw;
   border: none;
   resize: none;
   Outline: none;
 }
 input[type="radio"]{
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 60%;
  border: 2px solid #ccc;
  transition: .25s;
 }
 input[type="radio"]:hover{
    border-color: cyan;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
 }
 input[type="radio"]:checked {
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
}
input[type="checkbox"]{
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 width: 1.5vw;
 height: 1.5vw;
 border-radius: 60%;
 border: 2px solid #ccc;
 transition: .25s;
}
input[type="checkbox"]:hover{
   border-color: 	#6CD404;
   box-shadow: 0 0 0.5vw green, 0 0 2vw #6CD404, 0 0 3vw cyan, 0 0 5vw white;
}
input[type="checkbox"]:checked {
 border-color: 	#6CD404;
 background-color: 	#6CD404;
 box-shadow: 0 0 0.5vw #6CD404, 0 0 5vw white;
}
input[type="submit"]{
  margin-top: 5%;
  border-style: none;
  border-radius: 5px;
  padding: 1% 4% 1% 4%;
  background: cyan;
  color: black;
  text-align: center;
  font-size: 2vw;
  transition: all 0.5s;
}
input[type="submit"]:hover{
  background: white;
  box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
}
/*ここまでお問い合わせフォームの装飾*/
@media (max-width:600px) {
  .news{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    text-align: center;
  }
  aside{
    width: 100%;
    height: 50vw;
  }
  article{
    width: 100%;
  }
  .invite{
    font-size: 5vw;
    font-family: serif;
    text-decoration: none;
    background: #6A96E9;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    transition:  0.2s;
  }
  .text{
    text-align: left;
    padding-left: 15%;
    font-size: 4vw;
  }
  h1{
    font-size: 6vw;
  }
  h2{
    font-size: 5vw;
  }
  h3{
      font-size: 4vw;
  }
  .menu{
    font-size: 5vw;
    text-decoration: none;
    color: white;
  }
  .menuItem-last{
    padding-bottom: 0%;
  }
  .SNS_Button{
    font-size: 5vw;
    font-family: serif;
    text-decoration: none;
    background: #6A96E9;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    transition:  0.2s;
  }
  .SNS_Button:hover{
    transition:  0.2s;
    background: #0909D9;
  }
  .SNS_Button_Block{
    margin-bottom: 3vw;
    text-align: center;
  }

  /*ここからお問い合わせフォームの装飾*/
  .text_form{
    text-align: left;
    margin-left: 15%;
    width: auto;
    font-size: 4vw;
    margin-top: 5vw;
  }
  .text_form_top{
    text-align: left;
    margin-left: 15%;
    width: auto;
    font-size: 4vw;
    margin-top: 0vw;
  }
  label{
     display:block;
     border-left: solid 5px #5250e0;
     vertical-align:top;
     font-weight: bold;
   }
   input[type="text"],
   input[type="mail"],
  input[type="username"]{
     border: none;
     Outline: none;
     font-size: 4vw;
     width:60vw;
     height:5vw;
   }
   #Contact_us{
     font-size: 4vw;
     width:60vw;
     height:20vw;
     border: none;
     resize: none;
     Outline: none;
   }
   input[type="radio"]{
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4vw;
    height: 4vw;
    border-radius: 60%;
    border: 2px solid #ccc;
    transition: .25s;
   }
   input[type="radio"]:hover{
      border-color: cyan;
      box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
   }
   input[type="radio"]:checked {
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
  }
  input[type="checkbox"]{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 4vw;
   height: 4vw;
   border-radius: 60%;
   border: 1px solid #ccc;
   transition: .25s;
  }
  input[type="checkbox"]:hover{
     border-color: 	#6CD404;
     box-shadow: 0 0 0.5vw green, 0 0 2vw #6CD404, 0 0 3vw cyan, 0 0 5vw white;
  }
  input[type="checkbox"]:checked {
   border-color: 	#6CD404;
   background-color: 	#6CD404;
   box-shadow: 0 0 0.5vw #6CD404, 0 0 5vw white;
  }
  input[type="submit"]{
    margin-top: 5%;
    border-style: none;
    border-radius: 5px;
    padding: 1% 4% 1% 4%;
    background: cyan;
    color: black;
    text-align: center;
    font-size:5vw;
    transition: all 0.5s;
  }
  input[type="submit"]:hover{
    background: white;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
  }
  /*ここまでお問い合わせフォームの装飾*/
}
*{
  margin:0%;
  padding:0%;
}
